<a href="https://colab.research.google.com/github/Kakadekomal/DSBDAAssignment/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df=pd.read_csv("/content/Assign_3_Mall_Customers.csv")

In [17]:
df1=df
df2=df1
df3=df
df4=df

In [18]:
df

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40
...,...,...,...,...,...,...
195,196,Female,Middle Age,35,120,79
196,197,Female,Elder,45,126,28
197,198,Male,Middle Age,32,126,74
198,199,Male,Middle Age,32,137,18
199,200,Male,Middle Age,30,137,83

In [19]:
df.columns

Index(['CustomerID', 'Genre', 'Age Group', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [20]:
df.columns

Index(['CustomerID', 'Genre', 'Age Group', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [21]:
print(df['Annual Income (k$)'].mean())

60.56

In [24]:
print(df['Annual Income (k$)'].mode())

0    54
1    78
Name: Annual Income (k$), dtype: int64

In [25]:
print(df['Annual Income (k$)'].median())

61.5

In [26]:
print(df['CustomerID'].mean())

100.5

In [27]:
print(df['CustomerID'].mode())

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

In [28]:
print(df['CustomerID'].median())

100.5

In [31]:
print(df['Genre'].mode())

0    Female
Name: Genre, dtype: object

In [32]:
print(df['Age Group'].mode())

0    Middle Age
Name: Age Group, dtype: object

In [33]:
print(df['Age'].mean())

38.85

In [34]:
print(df['Age'].mode())

0    32
Name: Age, dtype: int64

In [35]:
print(df['Age'].median())

36.0

In [36]:
print(df['Spending Score (1-100)'].mean())

50.2

In [37]:
print(df['Spending Score (1-100)'].mode())

0    42
Name: Spending Score (1-100), dtype: int64

In [38]:
print(df['Spending Score (1-100)'].median())

50.0

In [39]:
df['CustomerID']

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

In [41]:
df['Genre']

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Genre, Length: 200, dtype: object

In [42]:
df['Age Group']

0            Teen
1      Middle Age
2      Middle Age
3      Middle Age
4      Middle Age
          ...
195    Middle Age
196         Elder
197    Middle Age
198    Middle Age
199    Middle Age
Name: Age Group, Length: 200, dtype: object

In [43]:
df['Age']

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [44]:
df['Annual Income (k$)']

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Annual Income (k$), Length: 200, dtype: int64

In [45]:
df['Spending Score (1-100)']

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64

In [46]:
df.isnull()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
195,False,False,False,False,False,False
196,False,False,False,False,False,False
197,False,False,False,False,False,False
198,False,False,False,False,False,False
199,False,False,False,False,False,False

In [47]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age Group                 0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [48]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [49]:
df2.head()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40

In [50]:
df1.head()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40

In [51]:
df3.head()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40

In [52]:
df4.head()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40

In [53]:
df.replace(to_replace=np.nan,value=80)

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Teen,19,15,39
1,2,Male,Middle Age,21,15,81
2,3,Female,Middle Age,20,16,6
3,4,Female,Middle Age,23,16,77
4,5,Female,Middle Age,31,17,40
...,...,...,...,...,...,...
195,196,Female,Middle Age,35,120,79
196,197,Female,Elder,45,126,28
197,198,Male,Middle Age,32,126,74
198,199,Male,Middle Age,32,137,18
199,200,Male,Middle Age,30,137,83

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age Group               200 non-null    object
 3   Age                     200 non-null    int64
 4   Annual Income (k$)      200 non-null    int64
 5   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(2)
memory usage: 9.5+ KB

In [55]:
print(df.shape)

(200, 6)

In [56]:
print(df.head(20))

    CustomerID   Genre   Age Group  Age  Annual Income (k$)  \
0            1    Male        Teen   19                  15
1            2    Male  Middle Age   21                  15
2            3  Female  Middle Age   20                  16
3            4  Female  Middle Age   23                  16
4            5  Female  Middle Age   31                  17
5            6  Female  Middle Age   22                  17
6            7  Female  Middle Age   35                  18
7            8  Female  Middle Age   23                  18
8            9    Male       Elder   64                  19
9           10  Female  Middle Age   30                  19
10          11    Male       Elder   67                  19
11          12  Female  Middle Age   35                  19
12          13  Female       Elder   58                  20
13          14  Female  Middle Age   24                  20
14          15    Male  Middle Age   37                  20
15          16    Male  Middle Age   22                  20
16          17  Female  Middle Age   35                  21
17          18    Male  Middle Age   20                  21
18          19    Male       Elder   52                  23
19          20  Female  Middle Age   35                  23

    Spending Score (1-100)
0                       39
1                       81
2                        6
3                       77
4                       40
5                       76
6                        6
7                       94
8                        3
9                       72
10                      14
11                      99
12                      15
13                      77
14                      13
15                      79
16                      35
17                      66
18                      29
19                      98

In [57]:
df['Age Group'].value_counts(normalize=True)

Middle Age    0.52
Elder         0.42
Teen          0.06
Name: Age Group, dtype: float64

In [58]:
df['CustomerID'].value_counts(normalize=True)

1      0.005
138    0.005
128    0.005
129    0.005
130    0.005
       ...
70     0.005
71     0.005
72     0.005
73     0.005
200    0.005
Name: CustomerID, Length: 200, dtype: float64

In [61]:
df['Genre'].value_counts(normalize=True)

Female    0.56
Male      0.44
Name: Genre, dtype: float64

In [62]:
df['Age'].value_counts(normalize=True)

32    0.055
35    0.045
19    0.040
31    0.040
30    0.035
49    0.035
40    0.030
38    0.030
47    0.030
27    0.030
36    0.030
23    0.030
34    0.025
20    0.025
29    0.025
50    0.025
48    0.025
21    0.025
24    0.020
18    0.020
28    0.020
67    0.020
59    0.020
54    0.020
43    0.015
60    0.015
45    0.015
39    0.015
33    0.015
37    0.015
22    0.015
25    0.015
46    0.015
68    0.015
52    0.010
44    0.010
66    0.010
57    0.010
26    0.010
53    0.010
42    0.010
63    0.010
70    0.010
51    0.010
58    0.010
65    0.010
41    0.010
55    0.005
69    0.005
64    0.005
56    0.005
Name: Age, dtype: float64

In [64]:
df['Annual Income (k$)'].value_counts(normalize=True)

54     0.06
78     0.06
48     0.03
71     0.03
63     0.03
       ...
58     0.01
59     0.01
16     0.01
64     0.01
137    0.01
Name: Annual Income (k$), Length: 64, dtype: float64

In [65]:
df['Spending Score (1-100)'].value_counts(normalize=True)

42    0.040
55    0.035
46    0.030
73    0.030
35    0.025
      ...
31    0.005
44    0.005
53    0.005
65    0.005
18    0.005
Name: Spending Score (1-100), Length: 84, dtype: float64

In [66]:
df = pd.DataFrame([['Male', 19, 15],
                  ['Female', 22, 17],
                  ['Female', 35, 21]])
df.columns = ['Gender','Age','Salary']
df.head()

   Gender  Age  Salary
0    Male   19      15
1  Female   22      17
2  Female   35      21